<span class="blue-quill-blanket-with-centered-content {{blanketClasses}}" data-uuid="{{uuid}}">
    <span class="centered-content {{contentClasses}}"  style="width:{{{width}}}; height:{{{height}}}">
        <span class="blue-quill-blanket-with-centered-content-close"></span>
        {{{content}}}
    </span>
</span>